In [ ]:
!pip install chardet

In [ ]:
!pip install nltk textblob

In [ ]:


# nltk 데이터 다운로드 (첫 실행 시 필요)
nltk.download('vader_lexicon')

# nltk 데이터 다운로드 (첫 실행 시 필요)
nltk.download('stopwords')

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from matplotlib import font_manager, rc
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob
import nltk
import chardet
%matplotlib inline


# 글꼴 경로 지정
font_path = "c:/Windows/Fonts/malgun.ttf"  # 윈도우에 설치된 맑은 고딕 폰트 경로

# 폰트 이름 얻어오기
font_name = font_manager.FontProperties(fname=font_path).get_name()

# matplotlib의 rc(run command) 기능을 이용하여 글꼴 설정
mpl.rc('font', family=font_name)

# 유니코드에서  음수 부호 설정
mpl.rc('axes', unicode_minus=False)

raw = pd.read_csv('../../../../../datasets/paris_reviews.csv')
df = raw.copy()

df = df[['listing_id','date','comments']]

df = df.rename(columns= {
    'listing_id' : '숙소_id',
    'date': '리뷰날짜',
    'comments' : '리뷰'
})

# 리뷰 결측치 제거
df = df[~df['리뷰'].isnull()]

# 리뷰 내의 <br> 제거
df['리뷰'] = df['리뷰'].str.replace('<br>\s*', ' ', regex=True)

In [40]:
df.head()

   숙소_id        리뷰날짜                                                 리뷰
0  39948  2013-09-20  Aliyah et Philippe m'ont réservé un accueil ex...
1  39948  2013-09-29  Aliyah and Philippe are gracious hosts and eve...
2   3109  2017-10-28            Tout s'est bien déroulé. Merci bien. PG
3   3109  2017-11-03  Un petit nid fouiller douillet situé dans  app...
4   3109  2018-07-24  Appartement spacieux, propre,clair, et calme à...

In [43]:
df.isnull().sum()

숙소_id    0
리뷰날짜     0
리뷰       0
dtype: int64

In [42]:
print(len(df['숙소_id'].unique()))
print(len(df['리뷰']))

58820
1793899

array([              39948,                3109,                5396, ...,
       1108741370485532713, 1109220943409848089, 1110936505905289590],
      dtype=int64)

raw[']

In [23]:
df['숙소_id'].unique()

array([            7450692,             7682958,           207127433, ...,
       1109340433572185015, 1112272239184950955, 1114430320264956030],
      dtype=int64)

In [38]:
df['숙소_id']==

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,39948,7450692,2013-09-20,8861358,Gilbert,Aliyah et Philippe m'ont réservé un accueil ex...
1,39948,7682958,2013-09-29,8947473,Susan,Aliyah and Philippe are gracious hosts and eve...
2,3109,207127433,2017-10-28,51636494,Patricia,Tout s'est bien déroulé. Merci bien. PG
3,3109,208779822,2017-11-03,4142888,Patricia,Un petit nid fouiller douillet situé dans app...
4,3109,295840159,2018-07-24,7415343,Laurent,"Appartement spacieux, propre,clair, et calme à..."