In [2]:
!pip install chardet

Requirement already satisfied: chardet in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (5.2.0)

In [3]:
!pip install nltk textblob

Requirement already satisfied: nltk in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: textblob in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (0.18.0.post0)
Requirement already satisfied: click in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2024.5.10)
Requirement already satisfied: tqdm in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\ciw96\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.6)

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from matplotlib import font_manager, rc
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob
import nltk
import chardet
%matplotlib inline

# nltk 데이터 다운로드 (첫 실행 시 필요)
nltk.download('vader_lexicon')

# nltk 데이터 다운로드 (첫 실행 시 필요)
nltk.download('stopwords')

# 글꼴 경로 지정
font_path = "c:/Windows/Fonts/malgun.ttf"  # 윈도우에 설치된 맑은 고딕 폰트 경로

# 폰트 이름 얻어오기
font_name = font_manager.FontProperties(fname=font_path).get_name()

# matplotlib의 rc(run command) 기능을 이용하여 글꼴 설정
mpl.rc('font', family=font_name)

# 유니코드에서  음수 부호 설정
mpl.rc('axes', unicode_minus=False)

raw = pd.read_csv('../../../../../datasets/paris_reviews.csv')
df = raw.copy()

df = df[['listing_id','date','comments']]

df = df.rename(columns= {
    'listing_id' : '숙소_id',
    'date': '리뷰날짜',
    'comments' : '리뷰'
})

# 리뷰 결측치 제거
df = df[~df['리뷰'].isnull()]

# 리뷰 내의 <br> 제거
df['리뷰'] = df['리뷰'].str.replace('<br>\s*', ' ', regex=True)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ciw96\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ciw96\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
df.isnull().sum()

숙소_id    0
리뷰날짜     0
리뷰       0
dtype: int64

In [6]:
df.head()

   숙소_id        리뷰날짜                                                 리뷰
0  39948  2013-09-20  Aliyah et Philippe m'ont réservé un accueil ex...
1  39948  2013-09-29  Aliyah and Philippe are gracious hosts and eve...
2   3109  2017-10-28            Tout s'est bien déroulé. Merci bien. PG
3   3109  2017-11-03  Un petit nid fouiller douillet situé dans  app...
4   3109  2018-07-24  Appartement spacieux, propre,clair, et calme à...

In [7]:
df.isnull().sum()

숙소_id    0
리뷰날짜     0
리뷰       0
dtype: int64

In [8]:
print(len(df['숙소_id'].unique()))
print(len(df['리뷰']))

58820
1793899

raw[']

In [11]:
df.dtypes

숙소_id     int64
리뷰날짜     object
리뷰       object
dtype: object

In [10]:
df['숙소_id'].unique()

array([              39948,                3109,                5396, ...,
       1108741370485532713, 1109220943409848089, 1110936505905289590],
      dtype=int64)

# 감성 분석 함수

In [12]:
df['숙소_id'].value_counts()

숙소_id
17222007               2905
26244787               2620
41020735               2223
35145338               2049
40194697               2019
                       ...
14073217                  1
24723313                  1
45312821                  1
794773891829720869        1
1110936505905289590       1
Name: count, Length: 58820, dtype: int64