In [10]:
import requests 
import json 
import pandas as pd

In [11]:
api_key = '인증키를 입력하세요'

In [12]:
api_url = 'http://apis.data.go.kr/B551011/KorService1/areaCode1'

In [13]:
params = {
  'numOfRows' : '10',
  'pageNo' : '1',
  'MobileOS' : 'ETC',
  'MobileApp' : 'Apptest',
  'serviceKey' : api_key,
  '_type' : 'json',
  'areaCode' : '1',
}

In [14]:
response = requests.get(api_url, params=params)

In [15]:
response

In [16]:
response.text

'{"response": {"header":{"resultCode":"0000","resultMsg":"OK"},"body": {"items": {"item":[{"rnum":1,"code":"1","name":"강남구"},{"rnum":2,"code":"2","name":"강동구"},{"rnum":3,"code":"3","name":"강북구"},{"rnum":4,"code":"4","name":"강서구"},{"rnum":5,"code":"5","name":"관악구"},{"rnum":6,"code":"6","name":"광진구"},{"rnum":7,"code":"7","name":"구로구"},{"rnum":8,"code":"8","name":"금천구"},{"rnum":9,"code":"9","name":"노원구"},{"rnum":10,"code":"10","name":"도봉구"}]},"numOfRows":10,"pageNo":1,"totalCount":25}}}'

In [17]:
data = response.json()
# json(key, value 형태 파일 >> dictionary 변경)로 parsing 된 데이터 
print(json.dumps(data, indent=4, ensure_ascii=False))

{
    "response": {
        "header": {
            "resultCode": "0000",
            "resultMsg": "OK"
        },
        "body": {
            "items": {
                "item": [
                    {
                        "rnum": 1,
                        "code": "1",
                        "name": "강남구"
                    },
                    {
                        "rnum": 2,
                        "code": "2",
                        "name": "강동구"
                    },
                    {
                        "rnum": 3,
                        "code": "3",
                        "name": "강북구"
                    },
                    {
                        "rnum": 4,
                        "code": "4",
                        "name": "강서구"
                    },
                    {
                        "rnum": 5,
                        "code": "5",
                        "name": "관악구"
                    },
                    {
                        "rnum": 6,
                        "code": "6",
                        "name": "광진구"
                    },
                    {
                        "rnum": 7,
                        "code": "7",
                        "name": "구로구"
                    },
                    {
                        "rnum": 8,
                        "code": "8",
                        "name": "금천구"
                    },
                    {
                        "rnum": 9,
                        "code": "9",
                        "name": "노원구"
                    },
                    {
                        "rnum": 10,
                        "code": "10",
                        "name": "도봉구"
                    }
                ]
            },
            "numOfRows": 10,
            "pageNo": 1,
            "totalCount": 25
        }
    }
}

In [18]:
data['response']['body']

{'items': {'item': [{'rnum': 1, 'code': '1', 'name': '강남구'},
   {'rnum': 2, 'code': '2', 'name': '강동구'},
   {'rnum': 3, 'code': '3', 'name': '강북구'},
   {'rnum': 4, 'code': '4', 'name': '강서구'},
   {'rnum': 5, 'code': '5', 'name': '관악구'},
   {'rnum': 6, 'code': '6', 'name': '광진구'},
   {'rnum': 7, 'code': '7', 'name': '구로구'},
   {'rnum': 8, 'code': '8', 'name': '금천구'},
   {'rnum': 9, 'code': '9', 'name': '노원구'},
   {'rnum': 10, 'code': '10', 'name': '도봉구'}]},
 'numOfRows': 10,
 'pageNo': 1,
 'totalCount': 25}

In [19]:
data['response']
data['response']['body']
data['response']['body']['items']
data['response']['body']['items']['item']
data['response']['body']['items']['item'][0]

{'rnum': 1, 'code': '1', 'name': '강남구'}

In [25]:

if response.status_code == 200: 
  try: 
    data = response.json()
    # json(key, value 형태 파일 >> dictionary 변경)로 parsing 된 데이터 
    print(json.dumps(data, indent=4, ensure_ascii=False))
    # indent=4 : 4칸 들여쓰기 사용 
    # ensure_ascii=False : ASCII 문자 비사용 (한글이 제대로 출력)
    
    # json 데이터에서 필요한 필드만 추출 >> 리스트 저장 
    items = data['response']['body']['items']['item']
    parsed_data = []
    
    for item in items:
      parsed_data.append({
        'rnum' : item['rnum'],
        'code':item['code'],
        'name': item['name']
        
      })
      
    # 추출한 데이터를 판다스 데이터프레임으로 변환
    df = pd.DataFrame(parsed_data)
    print(df)
    
  except json.JSONDecodeError:
    print("Error 발생")

{
    "response": {
        "header": {
            "resultCode": "0000",
            "resultMsg": "OK"
        },
        "body": {
            "items": {
                "item": [
                    {
                        "rnum": 1,
                        "code": "1",
                        "name": "강남구"
                    },
                    {
                        "rnum": 2,
                        "code": "2",
                        "name": "강동구"
                    },
                    {
                        "rnum": 3,
                        "code": "3",
                        "name": "강북구"
                    },
                    {
                        "rnum": 4,
                        "code": "4",
                        "name": "강서구"
                    },
                    {
                        "rnum": 5,
                        "code": "5",
                        "name": "관악구"
                    },
                    {
                        "rnum": 6,
                        "code": "6",
                        "name": "광진구"
                    },
                    {
                        "rnum": 7,
                        "code": "7",
                        "name": "구로구"
                    },
                    {
                        "rnum": 8,
                        "code": "8",
                        "name": "금천구"
                    },
                    {
                        "rnum": 9,
                        "code": "9",
                        "name": "노원구"
                    },
                    {
                        "rnum": 10,
                        "code": "10",
                        "name": "도봉구"
                    }
                ]
            },
            "numOfRows": 10,
            "pageNo": 1,
            "totalCount": 25
        }
    }
}
   rnum code name
0     1    1  강남구
1     2    2  강동구
2     3    3  강북구
3     4    4  강서구
4     5    5  관악구
5     6    6  광진구
6     7    7  구로구
7     8    8  금천구
8     9    9  노원구
9    10   10  도봉구

In [26]:
df

   rnum code name
0     1    1  강남구
1     2    2  강동구
2     3    3  강북구
3     4    4  강서구
4     5    5  관악구
5     6    6  광진구
6     7    7  구로구
7     8    8  금천구
8     9    9  노원구
9    10   10  도봉구

In [28]:
df.columns = ['지역번호','코드','지역명']

In [29]:
df

   지역번호  코드  지역명
0     1   1  강남구
1     2   2  강동구
2     3   3  강북구
3     4   4  강서구
4     5   5  관악구
5     6   6  광진구
6     7   7  구로구
7     8   8  금천구
8     9   9  노원구
9    10  10  도봉구

In [27]:
df.to_csv('D:/다운로드파일/api김율희0523.csv', index=False, encoding='UTF-8')