In [1]:
# 기본 패키지 불러오기 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
plt.style.use("seaborn")
sns.set(font_scale=1)
sns.set_style("whitegrid")

### 캐글 데이터_Airbnb Listing Data 2023

In [2]:
# airbnb_desert = pd.read_csv('../../Data/KaggleData/Airbnb Listing Data 2023/airnb_desert.csv', encoding='cp949')
# airbnb_luxe = pd.read_csv('../../Data/KaggleData/Airbnb Listing Data 2023/airnb_luxe.csv', encoding='cp949')
airbnb = pd.read_csv('../../Data/KaggleData/Airbnb Listing Data 2023/airnb.csv')

In [3]:
airbnb

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.00,229.00,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.00,170.00,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.00,522.00,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.00,348.00,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.00,196.00,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.00,NaN,4.85 (82),1 king bed
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.00,NaN,4.9 (300),1 king bed
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.00,NaN,4.92 (282),5 beds
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.00,NaN,4.96 (318),4 beds
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.00,NaN,4.85 (97),4 beds

### Inside airbnb 데이터

In [4]:
newyork_lists = pd.read_csv('../../../../data_weekly/inside_airbnb/Newyork/listings.csv')
newyork_lists_summary = pd.read_csv('../../../../data_weekly/inside_airbnb/Newyork/listings_summary.csv')
newyork_neighbourhoods = pd.read_csv('../../../../data_weekly/inside_airbnb/Newyork/neighbourhoods.csv')
newyork_reviews = pd.read_csv('../../../../data_weekly/inside_airbnb/Newyork/reviews.csv')
newyork_reviews_summary = pd.read_csv('../../../../data_weekly/inside_airbnb/Newyork/reviews_summary.csv')

In [5]:
newyork_lists

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,30314819,https://www.airbnb.com/rooms/30314819,20240406173624,2024-04-07,previous scrape,Brooklyn Finest Air Bnb,THE GUEST'S WILL HAVE ACCESS TO LOTS OF RESTAU...,NaN,https://a0.muscache.com/pictures/1ababa1b-a7d1...,224699779,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
1,30391955,https://www.airbnb.com/rooms/30391955,20240406173624,2024-04-07,previous scrape,Queens Comfort,Quiet neighborhood with plenty of on street pa...,10 min walk to Sutphin Av Archer Av Station wh...,https://a0.muscache.com/pictures/8d63479f-f4b6...,228213504,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
2,30378211,https://www.airbnb.com/rooms/30378211,20240406173624,2024-04-07,previous scrape,Shared Studio (females only),Bunk bed is shared with 1 other roommate (fema...,NaN,https://a0.muscache.com/pictures/500a4692-45da...,200401254,...,NaN,NaN,NaN,NaN,f,1,0,0,1,NaN
3,30459160,https://www.airbnb.com/rooms/30459160,20240406173624,2024-04-07,previous scrape,Large 2 Bedroom Apt - Close to everything!,Welcome to my massive two bedroom apt in eleva...,NaN,https://a0.muscache.com/pictures/a28e27f9-2360...,84147508,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.02
4,30746536,https://www.airbnb.com/rooms/30746536,20240406173624,2024-04-07,previous scrape,Stylish Single Room in Hell’s Kitchen,NaN,NaN,https://a0.muscache.com/pictures/6879386e-5133...,20416352,...,5.00,5.00,3.00,NaN,f,1,0,1,0,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38372,27015594,https://www.airbnb.com/rooms/27015594,20240406173624,2024-04-07,city scrape,"Premium Studio w/Wetbar, Central Park",Please note: layouts may differ.<br /><br /> 3...,Stay in the heart of Manhattan at AKA Central ...,https://a0.muscache.com/pictures/miso/Hosting-...,176950173,...,4.85,4.77,4.54,Exempt,t,16,10,6,0,0.35
38373,276021,https://www.airbnb.com/rooms/276021,20240406173624,2024-04-07,city scrape,Entire Luxury 2br/2ba in Prime Williamsburg!,Spacious and gorgeous luxury doorman 2br / 2ba...,NaN,https://a0.muscache.com/pictures/10ec711a-c2be...,1442346,...,5.00,5.00,4.00,NaN,f,1,1,0,0,0.01
38374,729637842867055103,https://www.airbnb.com/rooms/729637842867055103,20240406173624,2024-04-07,city scrape,near central park apartment.,Keep it simple in this peaceful and centrally ...,"you are just 2 blocks away from central park, ...",https://a0.muscache.com/pictures/d3d49233-33aa...,233986637,...,4.90,4.60,5.00,NaN,f,1,0,1,0,0.63
38375,1327940,https://www.airbnb.com/rooms/1327940,20240406173624,2024-04-07,city scrape,Huge Gorgeous Park View Apartment!,"Beautiful, huge and homey apt- Sleeps 4 comfor...",The apartment is on the border of Lefferts Gar...,https://a0.muscache.com/pictures/20004852/b611...,3290436,...,4.77,4.69,4.31,NaN,f,1,1,0,0,0.12
38376,51100458,https://www.airbnb.com/rooms/51100458,20240406173624,2024-04-07,city scrape,Luxe Brooklyn Studio_Clinton Hill,"Welcome to Clinton Hill, Brooklyn—a vibrant ne...",NaN,https://a0.muscache.com/pictures/7d5f9d16-6f99...,37046945,...,4.66,4.78,4.72,NaN,t,5,5,0,0,0.97

In [6]:
newyork_lists.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [7]:
newyork_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,5121,3271,2009-05-28,2995,Misha,"Simple place, super nice guy."
1,5121,5018,2009-07-04,23868,Yevgeniy,Great guy with a basic room. Clean sheets and ...
2,5121,15342,2009-10-27,39813,Gisela,Garon gave me the opportunity to share some of...
3,5121,17869,2009-11-21,52256,Shri,garon is a sweet person with a lot of knowledg...
4,5121,20382,2009-12-14,62040,Kristen,Garon - your home was very cozy and comfortabl...
...,...,...,...,...,...,...
972067,1118148174507368445,1123236488806829825,2024-03-29,568065473,Raghuraj,"All good ,near to sub way.<br/>Next time I’ll ..."
972068,1118148174507368445,1127561944746351439,2024-04-04,146345378,Luis,Um bom preço pago a esse espaço. Atende as nec...
972069,1120267212254262726,1122496336265942511,2024-03-28,133302822,Vito,My stay at Andrea's place was truly amazing. <...
972070,1120267212254262726,1124680436286753276,2024-03-31,75814820,Mia,Loved our stay at Andrea’s place and would sta...
972071,1126177454614590742,1128341794862859003,2024-04-05,570639200,Talia,I came into the city for work and needed to st...

In [10]:
newyork_reviews['comments'][:30]

0                         Simple place, super nice guy.
1     Great guy with a basic room. Clean sheets and ...
2     Garon gave me the opportunity to share some of...
3     garon is a sweet person with a lot of knowledg...
4     Garon - your home was very cozy and comfortabl...
5     We had a lovely stay at Garon's although he wa...
6     was my first time with airbnb, I enjoy the sta...
7     Garon is a really great guy. I can't recommend...
8     I can definately recommend Garon's place. he's...
9     Where do I start with Garon?  We stayed with h...
10    Garon is a very warm and friendly guy, willing...
11    Garon was very open and helpful, we felt very ...
12    Garon was like an angel! He got back to us qui...
13    We had a great time here!  Garon was extremely...
14    Many thanks to Garon for a wonderful stay. He ...
15    WELLL... Firstly Garon is a gemmm... Full of s...
16    Wonderfully, nice guy and a great host! This i...
17    I stayed at Garons for almost three months and...
18    Garon is very sweet, relaxed and laid back. I ...
19    Garon was a very nice host and he let us feel ...
20    i really enjoyed NY. Garon was so welcoming an...
21                           Garon is the best. Period.
22    Everything was perfectly fine! Me and my frien...
23    Thanks Garon! - I stayed for just over 2 weeks...
24    Garon is great! He s a really nice and interes...
25    I had the most beautiful stay, \r<br/>Garon is...
26    It was so nice staying at Garon's! For the fir...
27    Garon is one of the coolest individuals I've m...
28    Garon is undoubtedly the most welcoming and ni...
29    Had a great stay with Garon! You'll have a sup...
Name: comments, dtype: object